body {
  background-image: url("/src/assets/api-movie.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.95;
}

.container {
  justify-content: center;
  width: 400px;
  margin: auto;
  opacity: 0.95;
}

.login {
  justify-content: center;
  align-items: center;
  background: rgb(32, 32, 34);
  color: aliceblue;
  margin-top: 10em;
}

input {
  width: 360px;
  margin-bottom: 15px;
  border-radius: 5px;
  height: 30px;
}

button {
  width: 367px;
  background: rgb(31, 31, 195);
}
