<div class="container">
  <div class="p-col-10 p-sm-6 p-md-4">
    <mat-card class="login">
      <div>
        <h2>Buscar Filmes</h2>
      </div>

      <div class="usuario">
        <mat-label>Usuário</mat-label>
        <input [(ngModel)]="usuario.usuario" type="text" />
      </div>
      <div class="p-col-12">
        <label for="">Senha</label>
        <input [(ngModel)]="usuario.senha" type="password" />
      </div>
      <div class="p-col-12">
        <button mat-button type="submit" (click)="login()">Entar</button>
      </div>
    </mat-card>
  </div>
</div>
