.container {
  width: 500px;
  margin: auto;
  margin-top: 200px;
  background-color: rgb(244, 242, 241);
}

.filmeFundo {
  background-color: rgb(42, 44, 46);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: bisque;
  width: 600px;
}
